---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import TailwindIndicator from "@components/TailwindIndicator.astro";

import { getBaseRoute } from "@lib/utils"

interface Props {
	title: string;
}

const { title } = Astro.props;

const baseRoute = getBaseRoute(Astro.url.pathname);
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Header activeNav={baseRoute} />
    <div class="mb-auto px-5 py-4 sm:px-8">
      <slot />
    </div>
    {!isProd && <TailwindIndicator />}
  </body>
  <Footer/>
</html>
